.diplayNone {
    visibility: hidden;
}

.buttonHide {
    background-color: #C5BEB7;
    border          : none;
    color           : white;
    width           : 100%;
    padding         : 16px;
    text-align      : center;
    text-decoration : none;
    display         : inline-block;
    font-size       : 16px;
    cursor          : pointer;
    border-radius   : 0.5rem;
    margin-top      : 2px;
}

.buttonHide:hover {
    background-color: #827D78;
}